header {
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
}

.lcymovie-nav-content h1{
    margin: 0;
    font-weight: 701;
    font-size: 24px;
}

.lcymovie-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(248, 244, 244);
}

.lcymovie-contact-container {
    display: flex;
    align-items: center;
}

.lcymovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}